[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
example = "python examples/example.py"
example2 = "python examples/example2.py"
